{{> navbar}}
{{> post-button}}
{{> login-button}}

<div id="header"
    class="fixed z-10 left-1/2 -translate-x-1/2 w-full md:w-[640px] text-center md:pt-5 pt-16 md:bg-[#fafafa] text-[15px] font-semibold md:block hidden">
    <span>Notifications</span>
</div>

<div class="main-container md:mt-[50px] mt-2 flex justify-center h-screen overflow-hidden">
    <div id="notifications-list"
        class="shadow-lg bg-[#ffffff] w-full h-full md:w-[640px] border-[#d6d6d6] border md:rounded-t-3xl overflow-y-auto md:mt-[10px] mt-12 pb-32 md:pb-10"
        style="scrollbar-width: none;">
        {{#each noti}}
        <div class="p-4 flex relative" notiId="{{id}}">
            <div class="basis-1/12 min-w-10 bg-white" id="thread-avatar">
                <a href="/@{{from.username}}"><img class="rounded-full" src="{{from.avatarUrl}}"
                        alt="Avatar"></a>
            </div>
            <div class="basis-11/12 px-4 bg-white">
                <div class="flex flex-col">
                    <div class="flex gap-1">
                        <a class="hover:underline" href="/@{{from.username}}"><span class="font-medium">{{from.username}}</span></a>
                        <p>{{message}}</p>
                    </div>
                    <span class="{{#if isRead}}text-gray-400{{else}}text-[#74C0FC] font-bold {{/if}} text-sm time">
                        {{getDifTime createdAt}}
                    </span>
                </div>
            </div>
            <i class="noti-options-icon fa-solid fa-ellipsis cursor-pointer"></i>
            {{#if isRead}} {{else}}
            <i class="fa-solid fa-circle fa-sm absolute bottom-4 right-4 text-[#74C0FC]"></i>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>

<script>
    document.querySelectorAll('.noti-options-icon').forEach((element) => {
        element.addEventListener('click', (event) => {
            document.querySelectorAll('.noti-options').forEach(popup => popup.remove());

            const popup = document.createElement('div');
            popup.classList.add('noti-options', 'absolute', 'bg-white', 'border');
            popup.style.top = `${element.getBoundingClientRect().bottom + window.scrollY - 20}px`;
            popup.style.left = `${element.getBoundingClientRect().left - 100}px`;

            const markAsRead = document.createElement('div');
            markAsRead.textContent = 'Mark as read';
            markAsRead.classList.add('cursor-pointer', 'p-2', 'hover:bg-gray-200');
            markAsRead.addEventListener('click', () => {
                popup.remove();
                element.parentElement.querySelector('.fa-circle').remove();
                element.parentElement.querySelector('.time').classList.remove('text-[#74C0FC]', 'font-bold');
                element.parentElement.querySelector('.time').classList.add('text-gray-400');
                fetch('/notifications/mark-as-read', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        notiId: element.parentElement.getAttribute('notiId'),
                    }),
                });
            });

            const deleteOption = document.createElement('div');
            deleteOption.textContent = 'Delete';
            deleteOption.classList.add('cursor-pointer', 'p-2', 'hover:bg-gray-200');
            deleteOption.addEventListener('click', () => {
                element.parentElement.style.display = 'none';
                popup.remove();
                fetch('/notifications/delete', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        notiId: element.parentElement.getAttribute('notiId'),
                    }),
                });
            });

            popup.appendChild(markAsRead);
            popup.appendChild(deleteOption);
            document.body.appendChild(popup);

            document.addEventListener('click', (event) => {
                if (!popup.contains(event.target) && event.target !== element) {
                    popup.remove();
                }
            });
        });
    });
</script>